/* #PRODUIRE{fond=css/plan_prive.css}
   md5:0399a5706e5216a82c5a64b8898ad170 */

.plan #contenu p.removable { cursor:pointer; }
.plan #contenu p.removable:hover { opacity:.6; }
#mytree_actions { margin-bottom:1em; margin-top:1em; }
#mytree_actions input,
#mytree_actions .pliage { margin-right:2em; }
#mytree_actions .statut {
	padding-left:20px;
	background: transparent left 5px no-repeat;
	display:inline-block;
}
#mytree_actions .statut form { display:inline; }
#mytree_actions .statut form optgroup {
	margin-top:.3em; padding:5px 5px 5px 25px;
	background: transparent 3px 5px no-repeat;
}
#mytree_actions .statut form option {
	padding:2px 2px 2px 20px;
	background: transparent 2px center no-repeat;
}

#mytree_actions .statut.articles {
	background-image: url('https://api.compucel.co/prive/themes/spip/images/article-xx.svg?1625785808');
  background-size: 16px;
}
#mytree_actions .statut form optgroup.articles {
	background-image: url('https://api.compucel.co/prive/themes/spip/images/article-xx.svg?1625785808');
	background-size: 16px;
}


#mytree_actions .statut form option.articles-prepa{
	background-image: url('https://api.compucel.co/prive/themes/spip/images/puce-preparer-xx.svg');
}


#mytree_actions .statut form option.articles-prop{
	background-image: url('https://api.compucel.co/prive/themes/spip/images/puce-proposer-xx.svg');
}


#mytree_actions .statut form option.articles-publie{
	background-image: url('https://api.compucel.co/prive/themes/spip/images/puce-publier-xx.svg');
}


#mytree_actions .statut form option.articles-refuse{
	background-image: url('https://api.compucel.co/prive/themes/spip/images/puce-refuser-xx.svg');
}


#mytree_actions .statut form option.articles-poubelle{
	background-image: url('https://api.compucel.co/prive/themes/spip/images/puce-supprimer-xx.svg');
}


#mytree_actions .statut.syndic {
	background-image: url('https://api.compucel.co/plugins-dist/sites/prive/themes/spip/images/site-xx.svg?1625785814');
  background-size: 16px;
}
#mytree_actions .statut form optgroup.syndic {
	background-image: url('https://api.compucel.co/plugins-dist/sites/prive/themes/spip/images/site-xx.svg?1625785814');
	background-size: 16px;
}


#mytree_actions .statut form option.syndic-prop{
	background-image: url('https://api.compucel.co/prive/themes/spip/images/puce-proposer-xx.svg');
}


#mytree_actions .statut form option.syndic-publie{
	background-image: url('https://api.compucel.co/prive/themes/spip/images/puce-publier-xx.svg');
}


#mytree_actions .statut form option.syndic-refuse{
	background-image: url('https://api.compucel.co/prive/themes/spip/images/puce-refuser-xx.svg');
}


.plan .jstree-icon.rubrique {
	background:url('https://api.compucel.co/prive/themes/spip/images/rubrique-xx.svg?1625785808') center center no-repeat;
  background-size: 16px;
}
.plan .menu-items .menu-items { margin-top:.5em; }
.plan .menu-items .item.group { margin-bottom: 1em; padding-top: 5px; }
.plan .menu-items.rubriques .item > a {
	padding-left:20px;
	background:url('https://api.compucel.co/prive/themes/spip/images/rubrique-xx.svg?1625785808') center left no-repeat;
	background-size: 16px;
}
.plan .jstree .puce_objet { margin-right:2px; }
.plan .jstree.drag .item .jstree-icon { cursor: move; }
.plan .jstree.drag .item .jstree-ocl { cursor: pointer; }

.plan .jstree-icon.article {
	background:url('https://api.compucel.co/prive/themes/spip/images/article-xx.svg?1625785808') center center no-repeat;
	background-size: 16px;
}
.plan .menu-items.articles .item > a ,
.plan .menu-items.articles .item > strong {
	padding-left:20px;
	background:url('https://api.compucel.co/prive/themes/spip/images/article-xx.svg?1625785808') center left no-repeat;
  background-size: 16px;
}

.plan .jstree-icon.site {
	background:url('https://api.compucel.co/plugins-dist/sites/prive/themes/spip/images/site-xx.svg?1625785814') center center no-repeat;
	background-size: 16px;
}
.plan .menu-items.syndic .item > a ,
.plan .menu-items.syndic .item > strong {
	padding-left:20px;
	background:url('https://api.compucel.co/plugins-dist/sites/prive/themes/spip/images/site-xx.svg?1625785814') center left no-repeat;
  background-size: 16px;
}

